.vbox > section, .vbox > footer{
    width: 100%;
}
.vbox{
    height: 93vh !important;
}
.w-f{
    overflow: hidden !important;
}
.actionstyle{
    float: right;
    margin: 0px 10px;
}
.nav.dk{
    padding-left: 6%;
}
@media (max-width:600px){
    .m-b-md{
        margin-top: 60px;
    }
    .nav-main{
        margin-top: 50px;
    }
    .vbox > section, .vbox > footer{
        width: 100%;
    }
    .vbox{
        height: 93vh !important;
    }

}